name: Build

permissions:
  contents: read
  id-token: write
  packages: write

on:
  pull_request:
    types:
      - edited
      - opened
      - ready_for_review
      - synchronize
    paths:
      - go.mod
      - go.sum
      - "**/*.go"
      - Dockerfile
      - .github/workflows/build.yml

  push:
    branches:
      - main
    paths:
      - go.mod
      - go.sum
      - "**/*.go"
      - Dockerfile
      - .github/workflows/build.yml

  release:
    types:
      - published

  merge_group:

jobs:
  main:
    permissions:
      attestations: write # for submitting SBOM and provenance attestations
      contents: write # for dependency submission API
      id-token: write # needed to sign SBOM and provenance attestations
      packages: write

    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE: grafana/generate-policy-bot-config
      PUSH_IMAGE: ${{ (github.event_name == 'release' || (github.event_name == 'push' && github.ref == 'refs/heads/main')) || '' }}

    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Set Docker Buildx up
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      - name: Log into GHCR
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ github.token }}

      - name: Calculate image metadata
        id: calculate-metadata
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5.10.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE }}
          tags: |
            # tag with branch name for `main`
            type=ref,event=branch,enable={{is_default_branch}}
            # tag with semver, and `latest`
            type=ref,event=tag
            # tag with pr-<number>-<sha>
            type=ref,suffix=-{{sha}},event=pr

      - name: Build and push
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          labels: ${{ steps.calculate-metadata.outputs.labels }}
          platforms: linux/amd64,linux/arm64
          provenance: mode=max
          push: ${{ env.PUSH_IMAGE != '' && env.PUSH_IMAGE || 'false' }}
          # Doesn't generate proper SBOMs; using syft directly lower down
          sbom: false
          tags: ${{ steps.calculate-metadata.outputs.tags }}

      - name: Extract platform-specific digests
        if: env.PUSH_IMAGE
        id: platform-digests
        shell: bash
        env:
          TAGS: "${{ steps.calculate-metadata.outputs.tags }}"
        run: |
          declare -a TAGS
          TAGS=($TAGS)

          # Sanitize refs
          REGISTRY_REF="${TAGS[0]}"
          BASE_REF="${REGISTRY_REF%%:*}"

          # Get digests for each platform
          MANIFEST_JSON="$(docker buildx imagetools inspect "${REGISTRY_REF}" --format '{{json .}}')"

          # Create fully qualified references and extract digests
          for arch in amd64 arm64; do
            ARCH_REF="$(jq -r ".manifest.manifests[] | select(.platform.architecture == \"${arch}\").digest" <<< "${MANIFEST_JSON}")"
            echo "${arch}-ref=${BASE_REF}@${ARCH_REF}" | tee -a "${GITHUB_OUTPUT}"
          done

      - name: Generate SBOM (amd64)
        uses: anchore/sbom-action@43a17d6e7add2b5535efe4dcae9952337c479a93 # v0.20.11
        with:
          dependency-snapshot: true
          format: spdx-json
          image: ${{ steps.platform-digests.outputs.amd64-ref }}
          output-file: ${{ runner.temp }}/amd64.spdx.json

      - name: Attest SBOM (amd64)
        if: env.PUSH_IMAGE
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE }}
          subject-digest: ${{ steps.build.outputs.digest }}
          sbom-path: ${{ runner.temp }}/amd64.spdx.json
          push-to-registry: true

      - name: Generate SBOM (arm64)
        uses: anchore/sbom-action@43a17d6e7add2b5535efe4dcae9952337c479a93 # v0.20.11
        with:
          dependency-snapshot: true
          format: spdx-json
          image: ${{ steps.platform-digests.outputs.arm64-ref }}
          output-file: ${{ runner.temp }}/arm64.spdx.json

      - name: Attest SBOM (arm64)
        if: env.PUSH_IMAGE
        uses: actions/attest-sbom@4651f806c01d8637787e274ac3bdf724ef169f34 # v3.0.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE }}
          subject-digest: ${{ steps.build.outputs.digest }}
          sbom-path: ${{ runner.temp }}/arm64.spdx.json
          push-to-registry: true

      - name: Generate build provenance attestation
        if: env.PUSH_IMAGE
        uses: actions/attest-build-provenance@977bb373ede98d70efdf65b84cb5f73e068dcc2a # v3.0.0
        with:
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE }}
          subject-digest: ${{ steps.build.outputs.digest }}
          push-to-registry: true
